//color
$base-color: #fff;
$main-color: #37BDF2;
$sub-color: #3790F2;
$accent-color: #375CF2;

//文字色
$base-font-color: #333;

//background-color
$bg-color: rgba(55, 189, 242, 0.2);
$bg-color-tp: #F3FAFF;

//アニメーション
$animation: all 0.5s ease;

//グラデーション
/* 
 background: linear-gradient(90deg, #37BDF2 0%, #3790F2 60%, #375CF2 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
*/