//font-size
$fz10: 0.625rem;
$fz12: 0.75rem;
$fz14: 0.875rem;
$fz16: 1rem;
$fz18: 1.125rem;
$fz20: 1.25rem;
$fz22: 1.375rem;
$fz24: 1.5rem;
$fz32: 2rem;
$fz40: 2.5rem;
$fz64: 4rem;

//font-family
$font-zmg: "Zen Maru Gothic", sans-serif;
$font-mpr1: "M PLUS Rounded 1c", sans-serif;
$font-nsj: "Noto Sans JP", sans-serif;

// line-height
$base-lh: 1.8;
$lh14: 1.4;

// letter-spacing
$base-ls: 0.06em;
$base-ls08: 0.08em;