@use "_mixin.scss" as responsive;
@use "_color.scss" as color;
@use "_font.scss" as font;

/* ------------------------------
header
------------------------------ */
#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: color.$base-color;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-block: 8px;
    padding-inline: 2%;
}

.site-title {
    width: 180px;

    img {
        width: 100%;
    }
}

@include responsive.pc {
    .site-title {
        width: 140px;
    }
}

.header-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.header-nav {
    span {
        display: block;
    }

    .ja {
        font-size: font.$fz14;
        color: color.$base-font-color;
    }

    .en {
        font-family: font.$font-zmg;
        font-size: font.$fz10;
        letter-spacing: font.$base-ls;
        color: color.$base-font-color;
    }
}

.header-nav {
    display: flex;
    text-align: center;
    gap: 24px;

    .main-menu {
        padding-block: 8px;

        a {
            display: block;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 8px;
                width: 80%;
                height: 4px;
                background-color: color.$main-color;
                border-radius: 5px;
                transition: color.$animation;
                transform: scaleX(0);
                transform-origin: left top;
            }

            &:hover {
                color: color.$main-color;
            }

            &:hover::after {
                color: color.$main-color;
                transform: scaleX(1);
            }
        }
    }
}

@include responsive.pc {
    .header-nav {
        .ja {
            color: color.$base-color;
        }

        .en {
            color: color.$base-color;
        }
    }
}

/* ------------------------------
ドロップダウンメニューつきナビ
------------------------------ */

.menu-has-child {
    position: relative;
    font-family: font.$font-zmg;
    font-weight: bold;
    cursor: pointer;
    padding-block: 8px;

    &:hover .menu-parent {
        color: color.$main-color;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 8px;
        width: 80%;
        height: 4px;
        background-color: color.$main-color;
        border-radius: 5px;
        transition: color.$animation;
        transform: scaleX(0);
        transform-origin: left top;
    }

    &:hover::after {
        color: color.$main-color;
        transform: scaleX(1);
    }

    .menu-parent {
        display: flex;
        align-items: center;
        gap: 2px;
    }
}

.sub-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: absolute;
    top: 100%;
    right: -32px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease;
    z-index: 11;

    li {
        &:nth-of-type(1) a {
            border-radius: 8px 0 0 0;
        }

        &:nth-of-type(3) a {
            border-radius: 0 8px 0 0;
        }

        &:nth-of-type(7) a {
            border-radius: 0 0 0 8px;
        }

        &:nth-of-type(9) a {
            border-radius: 0 0 8px 0;
        }

        a {
            display: block;
            width: 200px;
            height: 48px;
            background: rgba(55, 92, 242, 0.5);
            font-weight: 500;
            line-height: 48px;
            color: color.$base-color;
            border: 1px solid rgba(55, 92, 242, 0.2);

            &:hover {
                background: rgba(55, 92, 242, 1);
            }
        }
    }
}

.open .sub-menu {
    opacity: 1;
    visibility: visible;
}

@include responsive.pc {
    .header-nav {
        gap: 8px;
    }

    .menu-has-child {
        color: color.$base-color;

        &:hover .menu-parent {
            color: color.$base-color;
        }

        &:hover::after {
            color: color.$base-color;
        }

        &::after {
            background-color: color.$base-color;
        }

        &:hover::after {
            background-color: color.$base-color;
        }
    }

    .open .sub-menu {
        width: 100%;
        right: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;


        li {
            &:nth-of-type(1) a {
                border-radius: 8px 8px 0 0;
            }

            &:nth-of-type(3) a {
                border-radius: 0 0 0 0;
            }

            &:nth-of-type(7) a {
                border-radius: 0 0 0 0;
            }

            &:nth-of-type(9) a {
                border-radius: 0 0 8px 8px;
            }

            a {
                width: 120%;
                height: 40px;
                line-height: 40px;
                color: color.$base-color;
                background: rgba(55, 92, 242, 1);
                font-size: 13px;
                padding-inline: 4px;

                &:hover {
                    background: color.$base-color;
                    color: color.$base-font-color;
                }
            }
        }
    }
}

.open-btn {
    display: none;
}

@include responsive.pc {
    #g-nav {
        position: fixed;
        top: 72px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
    }

    .active #g-nav {
        opacity: 1;
        visibility: visible;
    }

    #g-nav .header-nav {
        flex-direction: column;
        text-align: left;
    }

    #g-nav .header-nav a {

        &::after {
            background-color: color.$base-color;
        }

        &:hover::after {
            background-color: color.$base-color;
        }
    }

    #g-nav span {
        display: inline-block;
        padding-inline: 2px;
    }

    #g-nav .menu-has-child {
        position: relative;
    }

    #g-nav .main-menu a {
        color: color.$base-color;

        &:hover {
            color: color.$base-color;
        }
    }

    /* ------------------------------
 ハンバーガーメニュー押すと背景の円が広がる
 ------------------------------ */
    .circle-bg {
        position: fixed;
        right: -50px;
        top: -50px;
        width: 100px;
        height: 100px;
        background: rgba(55, 92, 242, 0.8);
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
        transform: scale(1);
        transition: color.$animation;
        z-index: 10;
    }

    .active .circle-bg {
        opacity: 1;
        visibility: visible;
        transform: scale(50);
    }

    /* ------------------------------
 ハンバーガーメニュー
 ------------------------------ */
    .open-btn {
        display: block;
        position: fixed;
        top: 8px;
        right: 8px;
        width: 50px;
        height: 50px;
        background: color.$main-color;
        border-radius: 5px;
        cursor: pointer;
        z-index: 9999;
    }

    .open-btn span {
        display: inline-block;
        width: 50%;
        height: 2px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: color.$base-color;
        border-radius: 8px;
        transition: color.$animation;
        z-index: 9999;
    }

    .open-btn span:nth-of-type(1) {
        top: 13px;
    }

    .open-btn span:nth-of-type(2) {
        top: 19px;
    }

    .open-btn span:nth-of-type(3) {
        top: 25px;
    }

    .open-btn span:nth-of-type(3)::after {
        content: "Menu";
        position: absolute;
        top: 3px;
        left: -2px;
        font-size: font.$fz12;
        color: color.$base-color;
    }

    /// ハンバーガーメニュークリック時 
    .active .open-btn span:nth-of-type(1) {
        width: 50%;
        top: 27%;
        left: 49%;
        transform: translate(-50%, 5px) rotate(-45deg);
    }

    .active .open-btn span:nth-of-type(2) {
        opacity: 0;
    }

    .active .open-btn span:nth-of-type(3) {
        width: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -6px) rotate(45deg);
    }

    .active .open-btn span:nth-of-type(3)::after {
        content: "Close";
        top: 6px;
        left: 10px;
        transform: translateY(0) rotate(-45deg);
    }

    //レスポンシブ時CONTACTボダン非表示
    .header-contact {
        display: none;
    }
}

@media (min-width: 1025px) {
    .menu-has-child:hover {
        .sub-menu {
            opacity: 1;
            visibility: visible;
        }
    }
}