@charset "UTF-8";
@use "_mixin.scss" as responsive;
@use "_color.scss" as color;
@use "_font.scss" as font;
@use "_base.scss";
@use "_btn.scss";
@use "_header.scss";
@use "_top.scss";
@use "_profile.scss";
@use "_news.scss";
@use "_single.scss";
@use "_works.scss";
@use "_contact.scss";


.sample {
    display: flex;
    align-items: center;

    img {
        width: 20%;
    }

    p {
        width: 80%;
    }
}

@include responsive.pc {

    .sample {
        gap: 8px;

        img {
            width: 30%;
        }

        p {
            width: 70%;
        }
    }
}